body {
  background-color: #231f20;
  background-image: url(imagens/BG\ pattern.png);
  color: #fff;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}

/*aside.main-sidebar {
  overflow: auto;
}
*/

.shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.img-circle {
  border-radius: 50%;
}

.sidebar {
  padding-bottom: 1rem;
  overflow: auto;
}

.main-sidebar {
  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  top: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #231f20;
  height: 100vh;
  overflow-y: hidden;
  z-index: 11;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 250px;
}

.nav-sidebar {
  position: relative;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  margin-left: 0.5rem;
}

.mt-2 {
  overflow: auto;
}

.nav-sidebar > .nav-item .nav-icon {
  margin-left: 0.05rem;
  font-size: 1.2rem;
  margin-right: 0.2rem;
  text-align: center;
  width: 1.6rem;
}
.nav-link p {
  margin: 0.5rem;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-sidebar .nav-header {
  font-size: 0.9rem;
  padding: 0.5rem 0.25rem;
}

.nav-sidebar > .nav-item {
  margin-bottom: 0;
}

.nav-item a:hover {
  color: #b6ff00;
}

*,
::after,
::before {
  box-sizing: border-box;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.main-sidebar ul {
  list-style: none;
}

.main-sidebar li a {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.main-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
  background-color: #231f20;
  border-top: 1px solid #4b545c;
  color: #a8afb5;
  padding: 1rem;
}

.brand-link {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #4b545c;
  font-size: 1.25rem;
  padding: 0.8125rem 0.5rem;
  cursor: pointer;
  font-weight: 300;
  display: block;
}

.brand-link:hover {
  color: #b6ff00;
}

.brand-image {
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  max-height: 33px;
  width: auto;
  vertical-align: middle;
}

.brand-text {
  font-size: 1rem;
  font-weight: 400;
}

.img-avatar {
  max-height: 30px;
}

.user-panel .info {
  display: inline-block;
  padding: 5px 5px 5px 10px;
}

element.style {
  padding: 0px 8px;
  height: 100%;
  width: 100%;
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar .form-inline .input-group {
  width: 100%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group:not(.has-validation)
  > .custom-file:not(:last-child)
  .custom-file-label,
.input-group:not(.has-validation)
  > .custom-file:not(:last-child)
  .custom-file-label::after,
.input-group:not(.has-validation) > .custom-select:not(:last-child),
.input-group:not(.has-validation) > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[class*='sidebar-dark'] .btn-sidebar,
[class*='sidebar-dark'] .form-control-sidebar {
  background-color: #231f20;
  border: 1px solid #56606a;
  color: #fff;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append,
.input-group-prepend {
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5rem;
  height: calc(2.25rem + 2px);
}

.form-control {
  margin-left: 0.5rem;
  outline: none;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
}

.form-control:hover {
  background-color: #231f20;
}

.nav-header {
  font-size: 15px !important;
  text-transform: uppercase;
  margin-top: 0.5rem;
  color: #ced4da;
}

footer div {
  float: right;
}

@media (min-width: 991px) {
  .main-footer {
    margin-left: 250px;
  }
}
